<html>
<head>
    <title>Tasks</title>
    <link rel="stylesheet" href='/static/main.css'>
</head>
<body>
<div>
<a href='/user/signup'>Signup</a>
<a href='/user/login'>Login</a>
<a href='/specialtask'>Special Task</a>
<form action='/user/logout' method='POST'>

<button>Logout</button>
</form>
</div>

    <form method="POST" action="/addtask">
        <label>Add your task</label><br />
      Name  <input name="Name" type="text" required>
       Tags <input name="Tags" type="Tags" required>
        <input type="submit" >
    </form>
       {{if .Flash}}
                <div class="flash-message">
               <p>Message : {{.Flash}} </p>
                </div>
            {{end}}
<ol>

    <p>All Tasks</p>

        {{range .Tasks}}
        <li>
        <div>
            <p class="title">{{.Name}}</p>
         
        </div>
    <form method="POST" action="/deletetask">
            <input type="hidden" name="id" value="{{.ID}}">
            <input type="submit" name="del" value="Remove"/> 
    </form>  
     <form method="POST" action="/updatetask">
            <input type="hidden" name="id" value="{{.ID}}">
            <input type="text" name="updateTask">
            <input type="submit" name="Update" value="Update"/> 
    </form> 
        </li>
       
          <p class="title">Tags:{{.Tags}}</p>

        {{end}}
</ol>
</body>
</html>